<!DOCTYPE html>
<html class="h-100" th:fragment="plantilla (titulo, contenido)"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
	<head>
		<title th:replace="${titulo}">Zampa!</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">
		<base href="@{/}">
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
			crossorigin="anonymous">
		<link rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
		<link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
	</head>
	<body class="h-100 d-flex flex-column">
	
		<nav class="navbar navbar-expand-lg bg-danger" data-bs-theme="dark">
			<div class="container-fluid d-flex w-100 justify-content-between align-items-center">
				<div>
					<a class="navbar-brand" href="index.html" th:href="@{/}">Zampa!</a>
				</div>
				
				<div class="position-absolute start-50 translate-middle-x">
					<a class="nav-link text-white" href="anadir.html" th:href="@{/anadir}">Añadir receta</a>
				</div>

				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
					<ul class="navbar-nav mb-2 mb-lg-0">
						<li th:each="dificultad: ${dificultades}" th:object="${dificultad}" class="nav-item">
							<a class="nav-link text-end" href="anadir.html" th:href="@{/(id=*{id})}" th:text="*{dificultad}">Dificultad</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	
		<div class="container my-5 mb-auto">
			<main th:replace="${contenido}">
				<p>Contenido</p>
			</main>
		</div>
	
		<footer class="text-bg-danger p-2 text-center">
			<p><a class="text-white text-decoration-none" href="https://github.com/ian-ani">&copy; 2025 - Iris Auñón Navarro</a></p>
		</footer>
	
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
			crossorigin="anonymous"></script>
	
		<script src="//localhost:35729/livereload.js"></script>
	</body>
</html>