@charset "UTF-8";

/* PAGINACIÓN */

.pagination .page-item .page-link {
	color: #dc3545;
}

.pagination .active .page-link {
	background-color: #dc3545;
	border-color: #dc3545;
	color: #fff;
}

.pagination .active .page-link:hover {
	background-color: #c82333;
}

/* FORMULARIO PARA AÑADIR RECETAS */

.form-control:focus, .form-select:focus {
	border-color: #dc3545;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(255, 0, 0, 0.6);
}

/* BOTON VOLVER ARRIBA */

#btt {
	position: fixed;
	right: 2%;
	bottom: 0;
	opacity: 0;
	transition: opacity 1s ease, transform 0.7s ease-in-out;
}

#btt:hover {
	background-color: #dc3545;
    cursor: pointer;
    transform: scale(0.9);
}

#btt.show {
	opacity: 1;
	pointer-events: auto;
	cursor: pointer;
}