@charset "UTF-8";

/* PAGINACIÓN */

.pagination .page-item .page-link {
	color: #dc3545;
}

.pagination .active .page-link {
	background-color: #dc3545;
	border-color: #dc3545;
	color: #fff;
}

.pagination .active .page-link:hover {
	background-color: #c82333;
}

/* FORMULARIO PARA AÑADIR RECETAS */

.form-control:focus {
	border-color: #dc3545;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(255, 0, 0, 0.6);
}